In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras import layers
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('Data_for_UCI_named.csv')

In [3]:
print(df.dtypes)

tau1     float64
tau2     float64
tau3     float64
tau4     float64
p1       float64
p2       float64
p3       float64
p4       float64
g1       float64
g2       float64
g3       float64
g4       float64
stab     float64
stabf     object
dtype: object

In [4]:
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [5]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [6]:
df[ 'stabf' ].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [7]:
# from sklearn.utils.class_weight import compute_class_weight
# weights = compute_class_weight('balanced', classes, y)

In [8]:
df=df.drop(columns= ['stab'])

In [9]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [10]:
X = df.drop(columns= 'stabf' ) 
y = df[ 'stabf' ] 
#split the data into training and testing sets 
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1 ) 
y_train.value_counts()

unstable    5092
stable      2908
Name: stabf, dtype: int64

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [12]:
normalised_train_df=pd.DataFrame(scaler.fit_transform(x_train),index=x_train.index,columns=x_train.columns) 
normalised_train_df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
2694,0.367327,-0.986042,0.650447,1.547527,-0.291490,0.061535,1.293862,-0.845074,0.160918,0.339859,0.585568,0.492239
5140,-0.064659,0.089437,1.035079,-1.641494,0.619865,-0.067235,-1.502925,0.486613,-0.293143,-1.558488,1.429649,-1.443521
2568,-1.467850,1.298418,-0.502536,1.166046,-0.180521,0.490603,0.682560,-0.855302,1.399350,1.451534,-1.045743,0.492489
3671,0.820081,0.529920,1.299657,-1.141975,-0.812854,-0.763632,1.521579,0.658780,-0.958319,1.361958,1.604140,0.275303
7427,0.665424,-1.425627,0.312300,0.919137,-1.614296,0.760315,1.422019,0.639243,1.676895,0.695660,1.137504,-1.312575

In [13]:
normalised_test_df=pd.DataFrame(scaler.fit_transform(x_test),index=x_test.index,columns=x_test.columns) 
normalised_test_df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
9953,0.592163,-0.420565,1.472472,1.093036,0.426786,-1.504594,-0.792677,1.600201,-0.925703,1.175287,-1.492644,1.086291
3850,0.199183,0.364543,-0.190076,-0.518473,-0.229402,-1.071766,0.427103,1.052337,-1.655910,-0.395949,1.412703,1.227535
4962,-1.086035,-0.321834,-0.873505,0.011761,-0.977094,0.094896,0.813041,0.751381,1.450284,-1.444370,0.654216,-1.679799
3886,-0.087014,-1.113357,0.361518,-1.684316,0.792280,-1.649041,0.410662,-0.084473,0.066085,-1.679450,-0.349573,1.057439
5437,0.873004,1.425833,0.080476,1.681022,-0.154247,-0.024315,-0.197525,0.485988,0.119716,-1.475773,0.957057,-0.817608

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
modelforest = RandomForestClassifier(random_state=1)

In [16]:
modelforest.fit(normalised_train_df, y_train)
y_pred = modelforest.predict(normalised_test_df)  
from sklearn import metrics  
  
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.928

In [17]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import RandomizedSearchCV

In [18]:
extra_tree_forest = ExtraTreesClassifier(random_state=1)

search = {'n_estimators': [300, 500,1000,100],
               'max_features': ['auto', None,'log2'],
               'min_samples_leaf': [4, 6, 8],
               'min_samples_split': [2, 5, 7],}

test=RandomizedSearchCV(extra_tree_forest,search,cv=5,n_iter=10, scoring = 'accuracy', n_jobs = -1, verbose = 1 ,random_state = 1)
searchparam = test.fit(normalised_train_df, y_train)
searchparam.best_params_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

{'n_estimators': 1000,
 'min_samples_split': 5,
 'min_samples_leaf': 6,
 'max_features': None}

In [19]:
extra_tree_forest.get_params()

{'bootstrap': False,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 1,
 'verbose': 0,
 'warm_start': False}

In [20]:
extra_tree_forest.fit(normalised_train_df, y_train)
y_pred2 = modelforest.predict(normalised_test_df)
  
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred2))

ACCURACY OF THE MODEL:  0.928

In [21]:
from sklearn.preprocessing import LabelEncoder
yenc = LabelEncoder()
y_test = yenc.fit_transform(y_test)
y_train= yenc.fit_transform(y_train)
print(y_test)

[1 1 0 ... 0 1 1]

In [22]:
import xgboost as xgb

In [23]:
xgb_model = xgb.XGBClassifier(random_state=1)
xgb_model.fit(normalised_train_df, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, feature_types=None, gamma=0, gpu_id=-1,
              grow_policy='depthwise', importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_bin=256, max_cat_threshold=64, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=1, ...)

In [24]:
y_pred3 = xgb_model.predict(normalised_test_df)
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred3))

ACCURACY OF THE MODEL:  0.946

In [25]:
import lightgbm as lgb
from lightgbm import LGBMClassifier

In [26]:
lgb_model = LGBMClassifier(random_state=1)
lgb_model.fit(normalised_train_df,y_train)
y_pred4 = lgb_model.predict(normalised_test_df)
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred4))

ACCURACY OF THE MODEL:  0.9365